
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  width: 1328px !important;
}
.dc-header{
	width:auto;
	height:50px;
	background-color:#027cd5;
	
}
 
.dc-header .dc-header-toolbar{
	padding-right: 5px !important;
  	padding-left: 5px !important;
  	margin-right: 165px !important;
  	margin-left: 125px !important;
  
}
.btn-lg {
  padding: 0px 5px !important;
  font-size: 12px !important;
}
.dc-header .dc-header-toolbar .dc-header-navbar-menu .dc-header-navbar-logsign a{
	color:white !important;
	margin-left:30px;
}

.dc-header .dc-header-toolbar .dc-header-logo{
	width:165px;
}
.dc-header .dc-header-toolbar .dc-header-navbar-menu .dc-header-search{
	margin-left: 191px;
  	margin-top: 6px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 645px;
        margin: 6 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
        height:10px;
    }
    .dropdown.dropdown-lg button{
        height:10px;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
        
    }
}
.search-box{
	margin-top: 10px;
}
.signup-wrap .new-signup-form .mno-input .fk-input {
  width: 348px;
  padding-left: 44px;
}
.signup-wrap .signup-form-input {
  width: 377px;
  height: 35px;
  font-size: 15px;
  padding-left: 15px;
  color: #333;
  background: #fff;
  border: 1px solid #c3c3c3;
}
.container .dc-header-top-main-menu{
	height:45px;
	background-color:#006cb4;
	width:1318px;
	
}
.dc-header-top-main-menu .dc-header-main-menu-content .dc-header-main-static-menu{
	margin-left: 165px;
	color:white;
	font-size:12px;
	font-weight:normal;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 9px !important;
  color:white !important;
}
.navbar-nav>li>a:hover{
  color:black !important;
  background-color:white !important;
}
.menu-dropdown{
	width:auto !important;
}
.main-sub-menu{
	//border:1px solid gray;
	margin: 10px;
	
}
 .menues{
	//display:block !important;
	min-width:1000px !important;
	position: fixed;
    top: 90px;
    left: 145px;
} 
.dc-main-body{
	background-color:rgb(226, 222, 212);
	width:1302px;
	height:1000px;
}
.main-widget{
	margin-left: 133px;
  	width: 700px !important;
	background-color:gray;
	height:288px;	
}

.carousel-widget-ads-banners {
  margin-left: 140px !important;
 
}
#myCarousel{
	 margin-right: 0px !important;
	 cursor:pointer;
}
.carousel-inner{
	width:auto !important;
	box-shadow: 6px 3px 5px #888888;
}
.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 120px;
  margin-bottom: 20px; 
}

.img-widget{
	width:230px;
	height:105px;
	margin-bottom:15px;
}
@media (min-width: 992px)
.col-md-12 {
  width: 860px !important;
}
.right-bar-widget .img-widget :hover{
	border:2px solid yellow;
	cursor:pointer;	
}
.row {
    margin-left: 6px !important;
}
.content-body{
	margin-left: 120px;
	height:auto;
	width:770px;
}	
.panel-default {
    border-color: white; 
}
.panel .panel-heading{
	background-color:gray !important;
}
.panel .item{
	    margin-bottom: 15px;
    padding-top: 17px;
	height:255px;
	cursor:pointer;
	-webkit-filter: grayscale(00%);
       -moz-filter: grayscale(00%);
       -o-filter: grayscale(00%);
       -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.panel .item:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.navbar ul li a{
	cursor:pointer !important;
	text-decoration:none !important;
}
.sub-main-menu .sub-main-menu-title{
	font-size:14px;
	font-weight:600;
	color:black !important;
}

.sub-main-menu .sub-main-menu-title-sub{
	font-size:12px;
	font-weight:normal;
	color:gray !important;
	z-index: 1 !imporatant;
	margin-left:15px;
}

.sub-main-menu .sub-main-menu-title a:hover{
	border:1px solid yellow;
}

.sub-main-menu .sub-main-menu-title-sub a:hover{
	border:1px solid yellow;
}

.product-main-title-top{
	width:100%;
	height:50px;
} 

.product-main-side-panel{
	margin-left:150px;
	width:300px;
	box-shadow: 0px 1px 6px #888888;
}

.product-sub-main-menu .product-sub-main-menu-title{
	color:gray;
	
}

.product-sub-main-menu >.product-sub-main-menu-title , .product-sub-main-menu-title-sub a{
	line-height: 24px;
} 

.product-sub-main-menu .product-sub-main-menu-title-sub a{
	float:left;
    clear:left;
    text-decoration:none !important;
    cursor:pointer;
    color:gray;
    font-size:12px;
	font-weight:normal;
    
}
.product-sub-main-menu .product-sub-main-menu-title-sub a:hover{
	   color:#1a75ff;
}
.hline { 
	width:100%;
	height:1px;
	background: gray;
	margin-top:10px;
	margin-bottom:10px;
 }
 .product-main-panel .product-main-panel-content{
 	width:190px;
 	height:177px;
 	border:1px solid black;
 	margin-top:10px;
 	margin-bottom:10px;
}
 .product-main-panel .product-main-panel-content a{
 	cursor:pointer;
 }
 .product-main-panel .product-main-panel-content:hover{
 	border:1px solid yellow;
 }
 .product-main-panel-OS .product-main-panel-OS{
 	 width: 130px;
    height: 121px
 	/*border:1px solid black;
 	margin-top:10px;
 	margin-bottom:10px; */
 }
  .product-main-panel-OS .product-main-panel-OS{
 	cursor:pointer;
 }
 .product-main-panel-OS .main-fav-OS-panel{
 	width: 161px !important;
 }
 .product-main-panel-newmobile .main-new-arrived-mobiles{
 	width: 161px !important;
 	height:auto;
 	margin-top:15px;
 	//border:1px solid gray;
}
.product-main-panel-newmobile .main-new-arrived-mobiles:hover{
 	//position:fixed;
 	border:1px solid yellow;
 	cursor:pointer
}
.product-main-panel-newmobile .main-new-arrived-mobiles .mobile-panel .mobile-details-sec .mobile-title{
	font-size:12px;
	font-weight:normal;
    
}

.product-main-panel-newmobile .main-new-arrived-mobiles .mobile-panel .mobile-visual-sec{
	height: 130px;
    width: 120px;
    padding-bottom: 13px;
    text-align: center;
    line-height: 0;
}
.completethepurchase{
	margin-left:180px;
	margin-right:50px;
}

.product-main-panel-newmobile .main-new-arrived-mobiles .mobile-panel .mobile-details-sec{
	float: none;
    _position: relative;
    _left: -3px;
    _margin-right: -3px;
    width: auto;
}
.product-main-panel-newmobile .main-new-arrived-mobiles .mobile-panel .mobile-details-sec .mobile-rating{
	margin: 2px 0 5px 0;
    font-size: 11px;
    color: #848484;
}
.product-main-panel-newmobile .main-new-arrived-mobiles .mobile-panel .mobile-details-sec .mobile-features{
	font-size: 11px;
    list-style-type: disc;
    padding-left: 0px;
    margin-top: 4px; 
}
figcaption {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 190px;
    background: rgba(0,0,0,.8);
    color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}
.black{
    background-color:#000000;
    height:400px;
    color:#FFFFFF;
  }
.grey{
  //background-color:#5E5E5E;
  max-height:auto;
  margin-left: 170px !important;
  margin-right: 200px !important;
 }
 .product-main-left-image-panel{
 	margin-left:150px;
	width:300px;
}
.product-main-rightdetail-panel{
	margin:40px auto;
	padding:10px;
}
.innerPanel .carouselContainer .carousel {
    list-style-type: none;
    margin: 10px auto;
    height: 110px;
    width: 330px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.innerPanel .carouselContainer .carousel li .thumbContainer {
    border: 1px solid #e5e5e5;
    padding: 2px;
    cursor: pointer;
    margin-left: 5px;
}
.carouselContainer .carousel li .thumbContainer .thumb {
    width: 70px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product-details .title-wrap .title {
    color: #333;
    font-size: 25px;
    float: left;
    margin: 0 10px 0 0;
    line-height: 25px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.product-details .title-wrap .subtitle {
    color: #848484;
    font-size: 15px;
    white-space: nowrap;
    display: inline-block;
    line-height: 25px;
}
.product-details .tools-wrap{
	
	width:auto;
	height:35px;
	margin-top:10px;
}
.product-details .tools-wrap .rating .rating-stars{
	display:inline;
	padding:5px;
	float:left;
	padding: 0px 4px 0px 0px;
}
.product-details .tools-wrap .rating .rating-count{
	display:inline;
	float:left;
	padding: 10px 7px 3px 3px;
	font-size:10px;
}
.tools-wrap .reviews a{
	color:gray;
	font-size:12px;
	padding: 0px 3px 5px 30px;
}
.tools-wrap .reviews{
	padding: 7px 3px 5px 0px;
	max-width: 300px;
}
.tools-wrap .tool-wrap-operation{
	display:inline;
		
}
/**/

fieldset, label { margin: 0; padding: 0; }
.ratings { 
  border: none;
  float: left;
}

.ratings > input { display: none; } 
.ratings > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.ratings > .half:before { 
  content: "\f089";
  position: absolute;
}

.ratings > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.ratings > input:checked ~ label, /* show gold star when clicked */
.ratings:not(:checked) > label:hover, /* hover current star */
.ratings:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.ratings > input:checked + label:hover, /* hover current star when changing rating */
.ratings > input:checked ~ label:hover,
.ratings > label:hover ~ input:checked ~ label, /* lighten current selection */
.ratings > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/**/

.product-details .features-warrenty{
	//border:1px solid black;
	width:auto;
	height:100px;
	margin:5px 0px 0px 0px;
}
.product-details .features-warrenty .features{
	width:310px;
	height:100px;
	display:inline;
}
.product-details .features-warrenty .warrenty{
	width:310px;
	height:100px;
	display:inline;
}

.product-details .color-storage{
	//border:1px solid black;
	width:auto;
	height:100px;
	margin:5px 0px 0px 0px;
}
.product-details .color-storage .color{
	width:310px;
	height:100px;
	 
}
.product-details .color-storage .storage{
	width:310px;
	height:100px;
	 
}
.product-details .available-seller{
	//border:1px solid black;
	width:auto;
	height:70px;
	margin:5px 0px 0px 0px;
	padding: 20px 30px 21px 160px;
	
}
.product-details .totalprice-emi{
	width:auto;
	height:70px;
	margin:5px 0px 0px 0px;
	padding: 20px 30px 21px 1px;	
}

.product-details .addtocart-buy{
	margin:25px 0px 0px 5px;
}
.product-details .seller-delivery-info{
	border:1px solid black;
	margin:30px 0px 0px 0px;
	height:150px;
}
.vline{
	border:1px solid gray;
	height:1px;
	width:auto;
	margin-top:30px;
	margin-bottom:30px;
	overflow:hidden;
}